order: 2
id: excel-settings-create-get-change-delete-settings
name: Add-in settings
description: 'Creates, gets, changes, and deletes settings that are unique to the specific workbook and add-in combination.'
author: OfficeDev
host: EXCEL
api_set:
    ExcelApi: '1.4'
script:
    content: |
        $("#create-setting").on("click", () => tryCatch(createSetting));
        $("#change-setting").on("click", () => tryCatch(changeSetting));
        $("#delete-setting").on("click", () => tryCatch(deleteSetting));

        async function createSetting() {
            await Excel.run(async (context) => {
                const settings = context.workbook.settings;
                settings.add("NeedsReview", true);
                const needsReview = settings.getItem("NeedsReview");
                needsReview.load("value");

                await context.sync();

                console.log(`Workbook needs review: ${needsReview.value}`);
            });
        }

        async function deleteSetting() {
            await Excel.run(async (context) => {
                const settings = context.workbook.settings;
                let needsReview = settings.getItem("NeedsReview");
                needsReview.delete();
                needsReview = settings.getItemOrNullObject("NeedsReview");

                await context.sync();

                if (needsReview.isNullObject) {
                    console.log("The setting has been deleted");
                } else {
                    console.log("The setting was not deleted");
                }

                await context.sync();
            });
        }

        async function changeSetting() {
            await Excel.run(async (context) => {
                const settings = context.workbook.settings;

                // The settings.add method is also how you change a 
                // setting. There is no settings.setItem or setting.set 
                // method.
                settings.add("NeedsReview", false);
                const needsReview = settings.getItem("NeedsReview");
                needsReview.load("value");

                await context.sync();

                console.log(`Workbook needs review: ${needsReview.value}`);
            });
        }

        /** Default helper for invoking an action and handling errors. */
        async function tryCatch(callback) {
            try {
                await callback();
            }
            catch (error) {
                // Note: In a production add-in, you'd want to notify the user through your add-in's UI.
                console.error(error);
            }
        }
    language: typescript
template:
    content: |-
        <section class="ms-Fabric ms-font-m">
            <p>This sample shows how to create, get, change, and delete settings in the workbook.</p>
        </section>

        <section class="ms-Fabric samples ms-font-m">
            <h3>Try it out</h3>
            <p>Press the button to create and display a setting.</p>
            <button id="create-setting" class="ms-Button">
                <span class="ms-Button-label">Create setting</span>
            </button>
            <p>Press the button to change setting.</p>
            <button id="change-setting" class="ms-Button">
                <span class="ms-Button-label">Change setting</span>
            </button>
                <p>Press the button to delete the setting.</p>
            <button id="delete-setting" class="ms-Button">
                <span class="ms-Button-label">Delete setting</span>
            </button>
        </section>
    language: html
style:
    content: |
        section.samples {
            margin-top: 20px;
        }

        section.samples .ms-Button, section.setup .ms-Button {
            display: block;
            margin-bottom: 5px;
            margin-left: 20px;
            min-width: 80px;
        }
    language: css
libraries: |
    https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js
    @types/office-js

    office-ui-fabric-core@11.1.0/dist/css/fabric.min.css
    office-ui-fabric-js@1.5.0/dist/css/fabric.components.min.css

    core-js@2.4.1/client/core.min.js
    @types/core-js

    jquery@3.1.1
    @types/jquery@3.3.1